.probootstrap-section.probootstrap-section-colored a, .probootstrap-section.probootstrap-section-colored-darker a {
  color: #ffffff;
  text-decoration: underline;
}

/* .probootstrap-section.probootstrap-section a { */
/*   text-decoration: underline; */
/* } */
